{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest"
  ],
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  }
}
